.done {
  background-color: #219ebc;
  height: 85vh;
  border-radius: 25px 25px 25px 25px;
}

.not-done {
  background-color: #8ecae6;
  height: 85vh;
  border-radius: 25px 25px 25px 25px;
}

.tarea__check {
  position: relative;
  left: 7px;
  top: 2px;
  font-size: 25px;
  color: #b4b4b4;
}

.tarea__check:hover {
  cursor: pointer;
  color: green;
}

.tarea__options {
  position: relative;
  left: 7px;
  top: 2px;
  font-size: 20px;
  margin-right: 4px;
}

.tarea__options__edit {
  font-size: 20px;
  color: #239fe7;
}

.tarea__options__delete {
  font-size: 23px;
  color: rgb(207, 0, 0);
}

.tarea__options__edit:hover {
  cursor: pointer;
  color: #1b83c0;
}

.tarea__options__delete:hover {
  cursor: pointer;
  color: rgb(170, 2, 2);
}